@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - ProductCategory
 * Version: 6.1
 */

/* ---------- product-category ---------- */
.product-category .sidebar-wrapper {
	width: 100px;
	position: absolute;
	top: 40px;
	bottom: 40px;
	left: 0px;
	z-index: 1;
	overflow: hidden;
}

.product-category .sidebar {
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0px;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	border-right: 1px solid #eeeeee;
	background-color: #f8f8f8;
}

.product-category .sidebar ul li {
	margin-top: 0px;
	border-bottom: 1px solid #eeeeee;
}

.product-category .sidebar ul li a {
	line-height: 20px;
	display: block;
	padding: 10px 5px;
	text-align: center;
	border-radius: 0px;
}

.product-category .sidebar ul li.active a {
	padding-left: 1px;
	margin-right: -1px;
	color: #fe256b;
	border-left: 3px solid #fe256b;
	background-color: #ffffff;
}

.product-category .sidebar ul li:nth-child(5n+1).active a {
	color: #fe256b;
	border-left-color: #fe256b;
}

.product-category .sidebar ul li:nth-child(5n+2).active a {
	color: #59c625;
	border-left-color: #59c625;
}

.product-category .sidebar ul li:nth-child(5n+3).active a {
	color: #2f80ed;
	border-left-color: #2f80ed;
}

.product-category .sidebar ul li:nth-child(5n+4).active a {
	color: #ff6900;
	border-left-color: #ff6900;
}

.product-category .sidebar ul li:nth-child(5n+5).active a {
	color: #7265e6;
	border-left-color: #7265e6;
}

.product-category .tab-content-wrapper {
	position: absolute;
	top: 40px;
	right: 0px;
	bottom: 50px;
	left: 100px;
	z-index: 1;
	overflow: hidden;
}

.product-category .tab-content {
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.product-category .detail .detail-heading {
	position: relative;
}

.product-category .detail .detail-heading:before {
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	top: 50%;
	content: "";
	background-color: #eeeeee;
}

.product-category .detail .detail-heading h5 {
	line-height: 20px;
	display: inline-block;
	padding: 10px;
	position: relative;
	background-color: #ffffff;
}

.product-category .detail:nth-child(5n+1) .detail-heading h5 a {
	color: #fe256b;
}

.product-category .detail:nth-child(5n+2) .detail-heading h5 a {
	color: #59c625;
}

.product-category .detail:nth-child(5n+3) .detail-heading h5 a {
	color: #2f80ed;
}

.product-category .detail:nth-child(5n+4) .detail-heading h5 a {
	color: #ff6900;
}

.product-category .detail:nth-child(5n+5) .detail-heading h5 a {
	color: #7265e6;
}

.product-category .detail .detail-body {
	padding: 0px 10px;
}

.product-category .detail .detail-body dl {
	border-bottom: 1px dotted #eeeeee;
}

.product-category .detail .detail-body dl:last-child {
	border-bottom: none;
}

.product-category .detail .detail-body dl dt {
	line-height: 35px;
}

.product-category .detail .detail-body dl dd {
	min-width: 50px;
	line-height: 35px;
	float: left;
	margin-right: 10px;
}

.product-category .detail .detail-body dl dd a {
	color: #999999;
}