@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Coupon
 * Version: 6.1
 */

/* ---------- coupon ---------- */
.coupon .coupon-list li, .coupon-exchange-list li {
	width: -webkit-calc((100% - 15px * 2) / 3);
	width: calc((100% - 15px * 2) / 3);
	float: left;
	margin-top: 15px;
	margin-right: 15px;
}

.coupon .coupon-list li:nth-child(-n+3), .coupon-exchange-list li:nth-child(-n+3) {
	margin-top: 0px;
}

.coupon .coupon-list li:nth-child(3n), .coupon-exchange-list li:nth-child(3n) {
	margin-right: -1px;
}

.coupon .media {
	position: relative;
	border: 1px solid #f1f1f1;
	-webkit-transition: opacity 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s;
	transition: opacity 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.coupon .media:hover {
	opacity: 0.9;
	border-color: #e8e8e8;
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.coupon .media .media-body {
	line-height: 30px;
	padding: 15px 0px 15px 15px;
}

.coupon .media .media-body h3 {
	width: 230px;
	font-weight: bold;
}

.coupon .media .media-right .coupon-right {
	width: 85px;
	height: 152px;
	line-height: 25px;
	color: #ffffff;
	position: relative;
	text-align: center;
	background-color: #ac92ed;
}

.coupon .media .media-right .coupon-right:before {
	width: 5px;
	height: 100%;
	content: '';
	position: absolute;
	right: 80px;
	z-index: 300;
	background: radial-gradient(circle at 50% 50%, #ffffff 0%, #ffffff 50%, transparent 0%);
	background-repeat: repeat-y;
	background-size: 8px 8px;
	background-position: -4px 0px;
}

.coupon .media .media-right .coupon-right a {
	height: 100%;
	display: block;
	color: #ffffff;
	padding: 15px 31px;
}

/* ---------- coupon-list ---------- */
.coupon .coupon-list .media .media-body .code span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.coupon .coupon-list .media .media-right .coupon-right .circle-lg {
	width: 58px;
	height: 58px;
	position: absolute;
	top: 49px;
	left: 16px;
	border-radius: 50%;
	border: 2px solid #ffffff;
}

.coupon .coupon-list .media .media-right .coupon-right .circle-sm {
	width: 42px;
	height: 42px;
	margin: 6px 0px 0px 6px;
	border-radius: 50%;
	border: 2px solid #ffffff;
}

.coupon .coupon-list .media .media-right .coupon-right .status {
	width: 70px;
	line-height: 30px;
	margin: 2px 0px 0px -17px;
	font-size: 19px;
	font-weight: bold;
	border-radius: 4px;
	border: 2px solid #ffffff;
	-webkit-transform: rotate(8deg) translate3d(0, 0, 0);
	transform: rotate(8deg) translate3d(0, 0, 0);
	background-color: #ac92ed;
}

.coupon .coupon-list .media .media-right .coupon-right.has-expired, .coupon .coupon-list .media .media-right .coupon-right.has-expired .status {
	background-color: #cacaca;
}

/* ---------- coupon-exchange ---------- */
.coupon .coupon-exchange-list .media .media-body em {
	font-style: normal;
}

.coupon .coupon-exchange-list .media .media-right .coupon-right {
	background-color: #74d2d4;
}