@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - ProductFavorite
 * Version: 6.1
 */

/* ---------- product-favorite ---------- */
.product-favorite .product-favorite-list li {
	width: -webkit-calc((100% - 15px * 4) / 5);
	width: calc((100% - 15px * 4) / 5);
	line-height: 25px;
	float: left;
	padding: 15px 10px 10px 10px;
	margin-top: 15px;
	margin-right: 15px;
	position: relative;
	text-align: center;
	-webkit-transition: box-shadow 0.3s, border-color 0.3s;
	transition: box-shadow 0.3s, border-color 0.3s;
	border: 1px solid #e8e8e8;
}

.product-favorite .product-favorite-list li:hover {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
	border-color: #dddddd;
}

.product-favorite .product-favorite-list li:nth-child(-n+5) {
	margin-top: 0px;
}

.product-favorite .product-favorite-list li:nth-child(5n) {
	margin-right: -1px;
}

.product-favorite .product-favorite-list li em {
	position: absolute;
	top: 160px;
	right: 16px;
	left: 15px;
	color: #ffffff;
	font-style: normal;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.product-favorite .product-favorite-list li img {
	margin-bottom: 10px;
}

.product-favorite .product-favorite-list li h5 {
	line-height: 25px;
}

.product-favorite .product-favorite-list .action {
	display: none;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.product-favorite .product-favorite-list li:hover .action {
	display: block;
}