@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Receiver
 * Version: 6.1
 */

/* ---------- receiver ---------- */
.receiver .add {
	width: -webkit-calc((100% - 15px * 2) / 3);
	width: calc((100% - 15px * 2) / 3);
	height: 120px;
	line-height: 120px;
	display: block;
	float: left;
	margin-right: 15px;
	color: #999999;
	font-size: 16px;
	text-align: center;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	border-radius: 4px;
	border: 1px dashed #d8d8d8;
}

.receiver .add:hover {
	color: #ff6900;
	border-color: #ff6900;
}

.receiver .icon-add {
	font-size: 16px;
}

.receiver .receiver-list li {
	width: -webkit-calc((100% - 15px * 2) / 3);
	width: calc((100% - 15px * 2) / 3);
	height: 120px;
	float: left;
	padding: 5px 15px;
	margin-top: 15px;
	margin-right: 15px;
	position: relative;
	-webkit-transition: box-shadow 0.3s, border-color 0.3s;
	transition: box-shadow 0.3s, border-color 0.3s;
	border-radius: 4px;
	border: 1px solid #e8e8e8;
}

.receiver .receiver-list li:hover {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
	border-color: #dddddd;
}

.receiver .receiver-list li:nth-child(-n+2) {
	margin-top: 0px;
}

.receiver .receiver-list li:nth-child(3n-1) {
	margin-right: -1px;
}

.receiver .receiver-list li h5 {
	line-height: 30px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #eeeeee;
}

.receiver .receiver-list li h5 .label-primary {
	margin-left: 10px;
}

.receiver .receiver-list li p {
	line-height: 24px;
}

.receiver .receiver-list li .action {
	display: none;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.receiver .receiver-list li:hover .action {
	display: block;
}