@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Aftersales
 * Version: 6.1
 */

/* ---------- aftersales ---------- */
.aftersales h5 {
	line-height: 35px;
	font-weight: bold;
}

.aftersales ul.nav-tabs {
	margin-bottom: 0px;
	background-color: #ffffff;
}

.aftersales table.table {
	margin-bottom: 0px;
}

.aftersales table.table .checkbox {
	margin-bottom: 5px;
}

.aftersales table tr td img {
	width: 50px;
	height: 50px;
	border: none;
}

.aftersales .list-group .list-group-item {
	line-height: 30px;
}

.aftersales .list-group .list-group-item > span.pull-left {
	margin-right: 10px;
}

.aftersales .list-group .list-group-item .text-center .btn-primary {
	margin-right: 30px;
}

.aftersales .list-group .list-group-item .text-center .btn {
	margin-left: 10px;
}