@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Article
 * Version: 6.1
 */

/* ---------- article-list ---------- */
.article-list .main-header {
	margin-bottom: 0px;
}

.article-list main {
	padding-top: 15px;
	background: url("../images/article.png") top center;
}

.article-list .breadcrumb {
	border: 0px;
}

.article-list .list {
	border: 0px;
	border-radius: 0px;
}

.article-list .list .panel-body {
	padding: 0px 15px;
}

.article-list .list ul li {
	padding: 5px 0px;
	border-bottom: 1px solid #eeeeee;
}

.article-list .list ul li:last-child {
	border-bottom: 0px;
}

.article-list .list ul li h4 {
	line-height: 30px;
	font-weight: normal;
}

.article-list .list ul li h4 strong {
	padding: 1px 5px;
	margin-right: 3px;
	color: #ff6600;
	font-weight: normal;
	font-size: 12px;
	vertical-align: top;
	background-color: #fff1ec;
}

.article-list .list ul li h4 a {
	color: #333333;
	margin-right: 10px;
}

.article-list .list ul li h4 a:hover {
	color: #ff6900;
}

.article-list .list ul li p {
	line-height: 25px;
	color: #999999;
	text-align: justify;
}

.article-list .list ul li p span {
	margin-right: 10px;
}

.article-list .no-result {
	margin-bottom: 15px;
}

.article-list .no-result dl dt {
	line-height: 50px;
	color: #ff6900;
	font-size: 14px;
}

.article-list .no-result dl dd {
	line-height: 30px;
	color: #999999;
}

/* ---------- article-detail ---------- */
.article-detail .main-header {
	margin-bottom: 0px;
}

.article-detail main {
	padding-top: 15px;
	background: url("../images/article.png") top center;
}

.article-detail .breadcrumb {
	border: 0px;
}

.article-detail .article-content {
	border-radius: 0px;
	border: 0px;
}

.article-detail .article-content .panel-heading h4 {
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 5px;
}

.article-detail .article-content .panel-heading>span {
	color: #888888;
}

.article-detail .article-content .panel-heading>span:nth-last-child(n+2):after {
	width: 1px;
	height: 12px;
	display: inline-block;
	margin: -2px 10px 0px 10px;
	content: "";
	vertical-align: middle;
	border-left: 1px solid #dddddd;
}

.article-detail .article-content .panel-body {
	line-height: 25px;
}

.article-detail .article-content .panel-body ul {
	padding-left: 40px;
	list-style: disc;
}

.article-detail .article-content .panel-body ol {
	padding-left: 40px;
	list-style: decimal;
}

/* ---------- hot-article-category ---------- */
.hot-article-category {
	margin-bottom: 15px;
	background-color: #ffffff;
}

.hot-article-category .hot-article-category-heading {
	padding: 10px 15px;
}

.hot-article-category .hot-article-category-heading h4 {
	font-weight: normal;
}

.hot-article-category .hot-article-category-body {
	padding: 0px 15px;
}

.hot-article-category .hot-article-category-body a {
	color: #888888;
}

.hot-article-category .hot-article-category-body ul li {
	line-height: 30px;
}

/* ---------- hot-article ---------- */
.hot-article {
	margin-bottom: 15px;
	background-color: #ffffff;
}

.hot-article .hot-article-heading {
	padding: 10px 15px;
}

.hot-article .hot-article-heading h4 {
	font-weight: normal;
}

.hot-article .hot-article-body {
	padding: 0px 15px;
}

.hot-article .hot-article-body a {
	color: #888888;
}

.hot-article .hot-article-body ul li {
	line-height: 30px;
}

/* ---------- article-search ---------- */
.article-search {
	margin-bottom: 15px;
	background-color: #ffffff;
}

.article-search .article-search-heading {
	padding: 10px 15px;
}

.article-search .article-search-heading h4 {
	font-weight: normal;
}

.article-search .article-search-body {
	padding: 0px 15px 10px 15px;
}

.article-search .article-search-body input {
	width: 137px;
	height: 31px;
	display: block;
	float: left;
	padding: 5px 10px;
	outline: none;
	-webkit-transition: border-color 0.3s, box-shadow 0.3s;
	transition: border-color 0.3s, box-shadow 0.3s;
	border: 1px solid #e8e8e8;
	border-right: 0px;
}

.article-search .article-search-body input:hover, .article-search .article-search-body input:hover + button {
	border-color: #cccccc;
}

.article-search .article-search-body input:focus {
	border-color: #ff6900;
	box-shadow: 0px 0px 0px 2px rgba(255, 102, 102, 0.08);
}

.article-search .article-search-body input:focus + button {
	border-color: #ff6900;
}

.article-search .article-search-body button {
	height: 31px;
	display: block;
	float: left;
	padding: 5px 10px;
	outline: none;
	color: #666666;
	border: 1px solid #e8e8e8;
	-webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
	transition: color 0.3s, border-color 0.3s, background-color 0.3s;
	background-color: #ffffff;
}

.article-search .article-search-body button .iconfont {
	font-size: 14px;
}

.article-search .article-search-body button:hover {
	color: #ffffff;
	border-color: #ff6900;
	background-color: #ff6900;
}