@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Consultation
 * Version: 6.1
 */

/* ---------- consultation ---------- */
.consultation .consultation-product .media {
	margin-bottom: 15px;
}

.consultation .consultation-product .media .media-left img {
	max-width: 70px;
}

.consultation .consultation-product .media .media-body>span {
	line-height: 30px;
	display: block;
}

.consultation .consultation-product .media .media-body .icon-favor {
	color: #cccccc;
}

.consultation .consultation-product .media .media-body .icon-favorfill {
	color: #fdaa01;
}

.consultation .panel .panel-body .list-group-item {
	line-height: 30px;
	padding: 15px 0px;
	border-left: 0px;
	border-right: 0px;
}

.consultation .panel .panel-body .list-group-item:first-child {
	border-top: 0px;
}

.consultation .panel .panel-body .list-group-item:last-child {
	border-bottom: 0px;
}

.consultation .panel .panel-body .list-group-item span, .consultation .panel .panel-body .list-group-item strong {
	margin-left: 10px;
	vertical-align: middle;
}

.consultation .btn-primary {
	margin-right: 10px;
}