@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Password
 * Version: 6.1
 */

/* ---------- password ---------- */
.password .main-header {
	margin-bottom: 0px;
}

.password main {
	padding: 60px 0px;
}

.password .panel {
	width: 1000px;
	margin: 0px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-color: #dddddd;
}

.password .panel .panel-heading {
	padding: 0px 20px;
	border-image: -webkit-linear-gradient(left, #e8e8e8, #f8f8f8) 1;
	border-image: -moz-linear-gradient(left, #e8e8e8, #f8f8f8) 1;
	border-image: linear-gradient(left, #e8e8e8, #f8f8f8) 1;
	border-width: 0px 0px 1px 0px;
	border-bottom: 1px solid #e8e8e8;
}

.password .panel .panel-heading h1 {
	line-height: 50px;
	font-size: 16px;
}

.password .panel .panel-body {
	padding: 30px 20px 15px 20px;
}

.password .panel .panel-footer {
	padding: 15px;
}