@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - ProductCategory
 * Version: 6.1
 */

/* ---------- product-category ---------- */
.product-category .sidebar {
	width: 205px;
	z-index: 300;
	background-color: #ffffff;
}

.product-category .sidebar.affix {
	top: 15px;
}

.product-category .sidebar .nav li a {
	padding: 8px 15px;
	margin-bottom: 15px;
	font-size: 14px;
	border-radius: 5px;
	background-color: #f5f5f5;
}

.product-category .sidebar .nav li:hover a, .product-category .sidebar .nav li.active a {
	color: #ffffff;
	background: -webkit-linear-gradient(left, #f76359, #ff9f4e);
	background: linear-gradient(left, #f76359, #ff9f4e);
	background-color: #ff9f4e;
}

.product-category .sidebar .nav li .iconfont {
	font-size: 16px;
}

.product-category .sidebar .nav li:hover .iconfont, .product-category .sidebar .nav li.active .iconfont {
	color: #ffffff;
}

.product-category .panel {
	margin-bottom: 5px;
	border: none;
}

.product-category .panel .panel-heading {
	padding-right: 0px;
	padding-left: 0px;
	border-image: -webkit-linear-gradient(left, #ff6900, #ffdada) 1;
	border-image: -moz-linear-gradient(left, #ff6900, #ffdada) 1;
	border-image: linear-gradient(left, #ff6900, #ffdada) 1;
	border-width: 0px 0px 1px 0px;
	border-bottom: 1px solid #ff6900;
}

.product-category .panel .panel-heading a {
	font-weight: bold;
}

.product-category .panel .panel-body {
	padding: 0px;
}

.product-category .child-category dl.dl-horizontal {
	border-bottom: 1px solid #eeeeee;
}

.product-category .child-category dl.dl-horizontal dt {
	width: 90px;
	line-height: 40px;
	font-weight: normal;
	text-align: left;
}

.product-category .child-category dl.dl-horizontal dd {
	line-height: 40px;
	margin-left: 100px;
}

.product-category .child-category dl.dl-horizontal ul li {
	min-width: 70px;
	float: left;
	margin-right: 10px;
}

.product-category .related-product .related-product-heading {
	margin: 15px 0px;
}

.product-category .related-product .related-product-heading h5 {
	line-height: 16px;
	padding-left: 5px;
	border-left: 3px solid #ff6900;
}

.product-category .related-product .related-product-body li {
	width: -webkit-calc((100% - 15px * 4) / 5);
	width: calc((100% - 15px * 4) / 5);
	height: 260px;
	line-height: 25px;
	float: left;
	padding: 10px 10px 0px 10px;
	margin-right: 15px;
	-webkit-transition: border-color 0.3s;
	transition: border-color 0.3s;
	border: 1px solid #eeeeee;
}

.product-category .related-product .related-product-body li:nth-child(5n) {
	margin-right: 0px;
}

.product-category .related-product .related-product-body li:hover {
	box-shadow: 0px 0px 10px rgba(245, 106, 0, 0.1);
	border: 1px solid #f56a00;
}

.product-category .related-product .related-product-body li img {
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.product-category .related-product .related-product-body li:hover img {
	opacity: 0.8;
}

.product-category .related-product .related-product-body li strong {
	color: #f04134;
}

.product-category .related-product .related-product-body li del {
	color: #bfbfbf;
	font-weight: normal;
}

.product-category .related-product .related-product-body li h5 {
	line-height: 25px;
	font-weight: normal;
}

.product-category .related-product .related-product-body li h6 {
	line-height: 25px;
	color: #f56a00;
	font-weight: normal;
}