@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Promotion
 * Version: 6.1
 */

/* ---------- promotion ---------- */
.promotion .panel {
	-webkit-transition: box-shadow 0.3s, border-color 0.3s;
	transition: box-shadow 0.3s, border-color 0.3s;
}

.promotion .panel:hover {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
	border-color: #d8d8d8;
}

.promotion .panel .panel-heading {
	position: relative;
}

.promotion .panel .panel-heading h3 {
	line-height: 40px;
	font-weight: bold;
	color: #666666;
}

.promotion .panel .panel-heading p {
	line-height: 30px;
}

.promotion .panel .panel-heading .share {
	position: absolute;
	right: 15px;
	bottom: 10px;
}

.promotion .panel .panel-body {
	line-height: 25px;
}

.promotion .panel .panel-body ul {
	padding-left: 40px;
	list-style: disc;
}

.promotion .panel .panel-body ol {
	padding-left: 40px;
	list-style: decimal;
}