@charset "utf-8";

/*
 * Copyright 2008-2018 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * Style - Register
 * Version: 6.1
 */

/* ---------- promotion-plugins ---------- */
.promotion-plugins .promotion-plugins-list {
	padding-left: 15px;
	padding-bottom: 15px;
	border-radius: 4px;
	border: 1px solid #eeeeee;
}

.promotion-plugins .promotion-plugins-list li {
	width: -webkit-calc((100% - 15px * 4) / 4);
	width: calc((100% - 15px * 4) / 4);
	padding: 10px;
	margin-top: 15px;
	margin-right: 15px;
	float: left;
	border-radius: 4px;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
	border: 1px solid #eeeeee;
}

.promotion-plugins .promotion-plugins-list li:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #e8e8e8;
}

.promotion-plugins .promotion-plugins-list li h4 {
	margin-bottom: 15px;
	color: #666666;
}

.promotion-plugins .promotion-plugins-list li p {
	height: 60px;
	line-height: 20px;
	margin-bottom: 10px;
	color: #888888;
	overflow: hidden;
}

